# ignore everything
/*

# except these files
!*.gitignore
!*.md
!/docker/data/mysql/.gitignore
!/docker/init/.gitignore

# except these folders
!/docker

# but, keep ignore these subfolder
/docker/eduwork/*.env